<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family:Arial;">

    <h2>💰 Payment Received</h2>

    <p>A customer has completed payment successfully.</p>

    <hr>

    <p><b>Order ID :</b> {{ order.order_id }}</p>

    <p><b>Customer :</b> {{ order.user.user.get_full_name }}</p>

    <p><b>Email :</b> {{ order.user.user.email }}</p>

    <p><b>Payment :</b> {{ order.payment_status }}</p>

    <p><b>Status :</b> {{ order.order_status }}</p>

    <p><b>Total :</b> ₹{{ order.cart.get_cart_total }}</p>

    <hr>

    <h3>Products</h3>

    <table border="1" cellpadding="8" cellspacing="0">

        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>

        {% for item in order.cart.cart_items.all %}

        <tr>

            <td>{{ item.product.product_name }}</td>

            <td>{{ item.quantity }}</td>

            <td>₹{{ item.get_single_price }}</td>

            <td>₹{{ item.get_total_price }}</td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>